 * {
       padding: 0%;
       margin: 0%;
 }

 body {
       background-color: #EDE0D4;
       margin-left: 200px;
       margin-right: 200px;
       margin-top: 20px;
       align-items: center;
 }

 .book-heading {
       font-family: Georgia, 'Times New Roman', Times, serif;
       font-size: 2rem;
       /* height: 2rem; */
       border-radius: 0.5rem;
       text-align: center;
       /* margin-bottom: 0.5rem; */
       color: #A5582C;
       display: block;
       background-color: #fff;
       line-height: 4rem;
 }
 
 .book-icon {
      height: 1rem;
      width: 1rem;
      color: #452212;
 }

 .book-content-area {
      border: 0.01rem solid #444;
      border-radius: 0.5rem;
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      background-color: #fff;
      margin-bottom: 2rem;
 }

 .book-content {
       height: 50% auto;
       width: 25% auto;
       /* border: 1rem solid #452212; */
       border-radius: 0.5rem;
       padding: 0.5rem;
       display: flex;
       /* justify-content: center; */
       flex-wrap: wrap;
       margin-left: 0.5rem;
       margin-bottom: 1.5rem;
       font-size: 1.5rem;
       font-family: Georgia, 'Times New Roman', Times, serif;
       background-color: antiquewhite;
 }

 .book-img {
       height: 18rem;
       width: 14rem; 
       border: 0.25rem solid #452212;
       border-radius: 0.5rem;   
       margin-top: 0.75rem;
 }

 .book-info {
       width: 15rem;
       margin-left: 2rem;
       font-size: 1rem;
       margin-bottom: 0;
 }

 .book-info-heading {
      text-decoration: underline;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #452212;
 }

 .summary {
      color: #333;
 }

 .book-borrow-btn {
      width: 8rem;
      height: 2rem;   
      background-color: #0376B8;
      border-radius: 0.5rem;
      border-color: #0376B8;
      color: white;
  }

  .btn-not-library {
      background-color: #222222d5;
      width: 8rem;
      height: 2rem;
      border-radius: 0.5rem;
      color: #ddd;
      border: #333;
   }

 .favourite {
      border-radius: 0.5rem;
      border: 0.1rem solid #452212;
      background-color: white;
      height: 2rem;
      width: 2rem;
  }

  .favourite:hover {
      color: #452212;
  }